*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
html{
	height: 100%;
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
	height: 100%;
	position: relative;
}
.container{
	width:90%;
	margin: 10px auto;
	background:#a66bbe;
	min-height:500px;
	text-align:center;
	padding:10px;

}
#map-canvas{
	width: 70%;
	min-height: 300px;
	margin:10px auto;
	border-radius:3px;

}
// Component styling
.gmap-auto-input{
	margin-top:.1em;
	border:1px solid #cecece;
	padding:5px;
	border-radius:5px;
	height:35px;
	font-size:16px;
	outline:none;

}

.content{
	background:#fefefe;
	text-align:left;
	padding:1em;
	margin-top:3em;
}