*{
	margin:0;
	padding: 0
	box-sizing: border-box;
}
html{
	height: 100%;
	font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
	height: 100%;
	position: relative;
}
#map-canvas{
	width: 50%;
	margin: 10px auto;
	min-height: 300px;
}
